.isPrivat{
	margin-left: 40px;
}
.main_wrapp{
	margin: 0 auto;
	max-width: 1200px;

	.search_panel_main {
		height: 35px;
		padding: 0 20px;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}

.input_style {
	max-width: 500px;
}

.setting_wrapp {
	margin: 0px 10px;
	min-height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.slider_wrapp {
	display: flex;
	align-items: center;
	justify-content: space-around;
}